body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    width: 100%;
}

h1 {
    margin: 0 0 20px;
    text-align: center;
}

#response {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}

#model {
    width: 100;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#prompt {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    background-color: #FF5800;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
}

.power-text {
    text-align: right;
}

.hidden {
    display: none;
}

#loading {
    text-align: center;
}