<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with AI</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Chat with AI</h1>
        <p class="power-text">powered by Azure OpenAI</p>
        <div id="response"></div>
        <form id="chat-form">
            <label for="model">Choose a model:</label>
            <select name="model" id="model">
                <option value="gpt4">GPT-4</option>
                <option value="gpt4-32">GPT-4 32K</option>
                <option value="gpt35t">GPT-35-turbo</option>
            </select>
            <input type="text" id="prompt" name="prompt" placeholder="メッセージを入れてください(英語可)...">
            <button type="submit">Send</button>
        </form>
        <button id="reset">Reset</button>
        <div id="loading" class="hidden">Loading...</div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
